@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  position: relative;
  height: 100vh;
  margin: 0;
}

.home-container {
  font-family: 'Nunito', sans-serif;
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Ensure no scrollbars appear */
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/homepage1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.7; /* Adjust the opacity here */
  z-index: -1; /* Keep the background behind content */
}

.adoption-container,
.donation-container,
.about-container,
.login-container,
.animal-container {
  background-color: rgb(251, 248, 243);
}
